flows/Calculate_SE_Hours_Invested.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>TotalMeetingCount2</name>
        <label>TotalMeetingCount</label>
        <locationX>569</locationX>
        <locationY>601</locationY>
        <assignmentItems>
            <assignToReference>TotalMeetingAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CountMeeting.Minutes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CountMeeting</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>hourCalculation</name>
        <dataType>Number</dataType>
        <expression>{!TotalMeetingAmount}/60</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CalculateSEHoursInvested {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate SE Hours Invested</label>
    <loops>
        <name>CountMeeting</name>
        <label>CountMeeting</label>
        <locationX>564</locationX>
        <locationY>396</locationY>
        <collectionReference>CurrentOpportunityMeetings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TotalMeetingCount2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Meeting_Records</name>
        <label>Get Meeting Records</label>
        <locationX>565</locationX>
        <locationY>112</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountMeeting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Engineer__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Demo__c</object>
        <outputReference>CurrentOpportunityMeetings</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Minutes__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Record</name>
        <label>Update Opportunity Record</label>
        <locationX>767</locationX>
        <locationY>401</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SE_Hours_Invested__c</field>
            <value>
                <elementReference>hourCalculation</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>52</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>Get_Meeting_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Engineer__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Demo__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentOpportunityMeetings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Demo__c</objectType>
    </variables>
    <variables>
        <name>TotalMeetingAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
