flows/Chatter_alert_120_days_to_Renewal_Date.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_chatter</name>
        <label>Post to chatter</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>chatterNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>X120_Days_to_Renewal</name>
        <label>120 Days to Renewal</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X120_days_to_closedate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Daystorenewal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>120.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_to_chatter</targetReference>
            </connector>
            <label>120 days to Close Date</label>
        </rules>
    </decisions>
    <formulas>
        <name>Daystorenewal</name>
        <dataType>Number</dataType>
        <expression>{!$Record.CloseDate} - TODAY()</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>C {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chatter alert 120 days to Renewal Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X120_Days_to_Renewal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125p0000015CDwAAM</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-10-28</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>chatterNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi @[{!$Record.Account.OwnerId}],
Please be aware this customer is up for renewal in 120 days. This renewal represents a great opportunity for potential upsell. Please reach out to your renewal manager @[{!$Record.Account.Account_Manager__r.Id}] with any questions.
Thank you,
@[{!$Record.Account.Owner.ManagerId}] @[{!$Record.Account.Owner.Manager.Manager.ManagerId}]</text>
    </textTemplates>
</Flow>
