flows/Mapping_Object_Immediate_Updates.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_SE_AE_Mapping_Email</name>
        <label>New SE/AE Mapping Email</label>
        <locationX>578</locationX>
        <locationY>408</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NewSEAEMappingEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>New_Mapping_Email_Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>NewAESEMappingEmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Collect_Email_Addresses</name>
        <label>Collect Email Addresses</label>
        <locationX>50</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>New_Mapping_Email_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AE_Email_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Mapping_Email_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SE_Email_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Mapping_Email_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RVP_Email_Address</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>sdf</description>
    <interviewLabel>Mapping Object Immediate Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mapping Object Immediate Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_AE_User_Record</name>
        <label>Get AE User Record</label>
        <locationX>50</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_Email_Addresses</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AE_User__r.User__r.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>AE_Email_Address</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_RVP_Email</name>
        <label>Get RVP Email</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SE_User_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vertical_RVP__r.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>RVP_Email_Address</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_SE_User_Record</name>
        <label>Get SE User Record</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AE_User_Record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SE_User__r.User__r.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>SE_Email_Address</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Populate_Vertical_RVP</name>
        <label>Populate Vertical RVP</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>Get_RVP_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Vertical_RVP__c</field>
            <value>
                <elementReference>$Record.Vertical_RVP_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Status_Active</name>
        <label>Status = Active</label>
        <locationX>578</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>New_SE_AE_Mapping_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Status_Innative</name>
        <label>Status = Innative</label>
        <locationX>314</locationX>
        <locationY>288</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Populate_Vertical_RVP</targetReference>
        </connector>
        <object>Mapping__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Mapping_End_Date_Today</name>
            <connector>
                <targetReference>Status_Innative</targetReference>
            </connector>
            <label>Mapping End Date = Today</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>End_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Mapping_Start_Date_Today</name>
            <connector>
                <targetReference>Status_Active</targetReference>
            </connector>
            <label>Mapping Start Date = Today</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Start_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>NewAESEMappingEmailSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;sdfsdf&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NewSEAEMappingEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;testtesttes&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AE_Email_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>New_Mapping_Email_Recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RVP_Email_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SE_Email_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
